

.metamaskContent{
    display: flex;
    /* gap: 110px; */
    justify-content: space-around;
    padding: 30px 160px 0px 160px;
}
.metamaskBottom{
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
    padding: 30px 400px 0px 400px;
}